---
layout: default
permalink: /staff/non-academic-staff/
type: "Non Academic"

title: Non-Academic Staff
---

<!-- Set current date -->
{% assign today_date = 'now' | date: '%s' %}

<main class="container">
  <div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">Non-Academic Staff</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.home }}" class="link-light">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ '/' | relative_url }}" class="link-light">People</a>
        </li>
        <li class="breadcrumb-item text-white">Non-Academic Staff</li>
      </ol>
    </nav>
  </div>
</main>

<div class="container py-4 px-lg-5">
  <div class="row justify-content-center">
    {%- for each in site.data.non_academic_staff.data -%}

    <!-- Check left date -->
    {%- assign left_date = each.left_date | date: '%s' -%}

    <!-- Compare the left date with today -->
    {%- if each.left_date == "" or left_date > today_date -%}
    <div
      class="container card text-center p-2 border-primary m-1"
      style="width: 14rem"
    >
      <img
        src="{{ each.url_image | relative_url }}"
        style="border-radius: 7%"
        class="card-img-top p-3"
        alt="{{each.staff_name}}"
      />
      <div class="card-body">
        <h6 class="card-title">{{each.staff_name}}</h6>
        <p class="card-text text-muted">{{each.text_below_name}}</p>

        {% if each.contact_number %}
        <a href="tel:{{each.contact_number}}">{{each.contact_number}}</a>
        {% endif %}
        <br />
        {% if each.email %}
        <a href="mailto:{{each.email}}">{{each.email}}</a>
        {% endif %}
      </div>
    </div>
    {%- endif -%} {%- endfor -%}
  </div>

  <div class="row justify-content-center pt-5">
    <h3 class="text-center">Past Non-Academic Staff</h3>
    <hr />
    {%- for each in site.data.non_academic_staff.data -%}

    <!-- Check left date -->
    {%- assign left_date = each.left_date | date: '%s' -%}

    <!-- Compare the left date with today -->
    {%- if left_date != "" and left_date < today_date -%}
    <div
      class="container card text-center p-2 border-primary m-1"
      style="width: 14rem"
    >
      <img
        src="{{ each.url_image | relative_url }}"
        style="border-radius: 7%"
        class="card-img-top p-3"
        alt="{{each.staff_name}}"
      />
      <div class="card-body">
        <h6 class="card-title">{{each.staff_name}}</h6>
        <p class="card-text text-muted">{{each.text_below_name}}</p>

        {% if each.contact_number %}
        <a href="tel:{{each.contact_number}}">{{each.contact_number}}</a>
        {% endif %}
        <br />
        {% if each.email %}
        <a href="mailto:{{each.email}}">{{each.email}}</a>
        {% endif %}
      </div>
    </div>
    {%- endif -%} {%- endfor -%}
  </div>
</div>
