---
layout: default
permalink: /staff/temporary_academic_staff/
type: "Temporary Academic"
---

{%- comment -%}

Update the JSON, _data/temporary_academic_staff.json, and it will add the profiles into here.

{%- endcomment -%}

{% assign today_date = 'now' | date: '%s' %}

<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Temporary Academic Staff</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item text-white">Temporary Academic Staff</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container py-4 px-lg-5">
    <div class="row justify-content-center">
        {%- for each in site.data.temporary_academic_staff -%}
        {%- assign leaved_date = each.leaved_date | date: '%s' -%}

        {%- if each.leaved_date == "" or leaved_date > today_date  -%}
        <div class="container card text-center p-2 border-primary m-1" style="width: 13rem;">
            <img src="{{ each.url_image | relative_url }}" style="border-radius: 7%" class="card-img-top p-1"
            alt="{{each.staff_name}}">
            <div class="card-body">
                <h6 class="card-title">{{each.staff_name}}</h6>
                <p class="card-text text-muted">{{each.text_below_name}}</p>

                {% if each.email != "" %}
                <p class="card-text text-muted small">{{ each.email }}</p>
                {% endif %}
            </div>

            {% if each.url_profile != "" %}
            <div class="d-flex flex-row justify-content-center mt-auto pb-1">
                <a class="btn btn-sm btn-outline-primary w-75" href=" {{ each.url_profile | relative_url}}">More</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}

        {%- endfor -%}
    </div>

    <div class="row justify-content-center pt-5">
        <h3 class="text-center">Past Temporary Academic Staff</h3>
        <hr>

        {%- for each in site.data.temporary_academic_staff -%}

        {%- if each.leaved_date != "" -%}
        {%- assign leaved_date = each.leaved_date | date: '%s' -%}
        {%- if leaved_date < today_date  -%}
        <div class="container card text-center p-2 border-primary m-1" style="width: 13rem;">
            <img src="{{ each.url_image | relative_url }}" style="border-radius: 7%" class="card-img-top p-1"
            alt="{{each.staff_name}}">
            <div class="card-body">
                <h6 class="card-title">{{each.staff_name}}</h6>
                <p class="card-text text-muted">{{each.text_below_name}}</p>
                {% if each.email != "" %}
                <p class="card-text text-muted small">{{ each.email }}</p>
                {% endif %}
            </div>
            {% if each.url_profile != "" %}
            <div class="d-flex flex-row justify-content-center mt-auto pb-1">
                <a class="btn btn-sm btn-outline-primary w-75" href=" {{ each.url_profile | relative_url}}">More</a>
            </div>
            {% endif %}
        </div>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
    </div>
</div>
