---
layout: default
permalink: /staff/visiting-lecturers/

title: Visiting Lecturers
---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Visiting Lecturers</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">People</a></li>
                <li class="breadcrumb-item text-white">Staff</li>
                <li class="breadcrumb-item text-white">Visiting Lecturers</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container py-4 px-lg-5">
    <div class="row justify-content-center">
        {%- for each in site.data.visiting-lecturers -%}
        <div class="container card text-center p-2 border-primary m-1" style="width: 13rem;">
            <img src="{{ each.url_image | relative_url }}" style="border-radius: 7%" class="card-img-top p-1" alt="{{each.name}}">
            <div class="card-body">
                <h6 class="card-title">{{each.name}}</h6>

                <p class="card-text text-muted">{{each.position}}</p>

                {% if each.email %}
                <p class="card-text text-muted small">{{each.email}}</p>
                {% endif %}


                <div class="d-flex flex-row justify-content-evenly mt-auto pb-1">
                    {% if each.url_linkedin %}
                    <a class="btn btn-link" href="{{ each.url_linkedin }}" target="_blank"><i class="fab fa-lg fa-linkedin"></i></a>
                    {% endif %}
                </div>
                {% if each.url_profile %}
                <a class="btn btn-outline-primary w-100" href="{{ each.url_profile | relative_url }}">View</a>
                {% endif %}
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>