---
layout: default
permalink: /staff/visiting-research-fellows/

title: Visiting Research Fellows
---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Visiting Research Fellows</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">People</a></li>
                <li class="breadcrumb-item text-white">Staff</li>
                <li class="breadcrumb-item text-white">Visiting Research Fellows</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container py-4 px-lg-5">
    <div class="row justify-content-center">
        {%- for each in site.data.visiting-research-fellows -%}
        <div class="container card text-center p-2 border-primary m-1" style="width: 13rem;">
            <img src="{{ each.url_image | relative_url }}" style="border-radius: 7%" class="card-img-top p-1" alt="{{each.staff_name}}">
            <div class="card-body">
                <h6 class="card-title">{{each.name}}</h6>
                <p class="card-text text-muted">{{each.position}}</p>
                {% if each.url_profile %}
                <a class="btn btn-outline-primary w-100" href="{{ each.permalink | relative_url }}">View</a>
                {% endif %}

                <div class="d-flex flex-row justify-content-evenly mt-auto pb-1">
                    {% if each.url_linkedin %}
                    <a class="btn btn-link" href="{{ each.linkedin }}" target="_blank"><i class="fab fa-lg fa-linkedin"></i></a>
                    {% endif %}

                    {% if each.url_profile %}
                    <a class="btn btn-link" href="{{ each.url_profile | relative_url}}" target="_blank"><i class="fa fa-lg fa-user"></i></a>
                    {% endif %}
                </div>
                asdfasdf
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>