---
layout: default
permalink: /staff/academic/

---
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">

        <h1 class="text-white">Academic Staff</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active text-white" aria-current="page"> Home / Staff / Academic Staff</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container p-3">
    <ul class="nav nav-pills mb-3  nav-fill"  id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-hod-tab" data-bs-toggle="pill" data-bs-target="#pills-hod"
                type="button" role="tab" aria-controls="pills-hod" aria-selected="true">Head Of the Department</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-professors-tab" data-bs-toggle="pill" data-bs-target="#pills-professors"
                type="button" role="tab" aria-controls="pills-professors" aria-selected="false">Professors</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-s-lecturers-tab" data-bs-toggle="pill" data-bs-target="#pills-s-lecturers"
                type="button" role="tab" aria-controls="pills-s-lecturers" aria-selected="false">Senior Lecturers</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-lecturers-tab" data-bs-toggle="pill" data-bs-target="#pills-lecturers"
                type="button" role="tab" aria-controls="pills-lecturers" aria-selected="false">Lecturers</button>
        </li>
    </ul>
    <div class="tab-content " id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-hod" role="tabpanel" aria-labelledby="pills-hod-tab">
            {%- comment -%}
            Head of Department Tab
            {%- endcomment -%}
            {% include staff_academic_cards.html filter_var="is_hod" if_equal_to_this=true %}

        </div>

        <div class="tab-pane fade" id="pills-professors" role="tabpanel" aria-labelledby="pills-professors-tab">
            {%- comment -%}
            Professors Tab
            {%- endcomment -%}
            
            {% include staff_academic_cards.html filter_var="group" if_equal_to_this="professor" %}
        </div>

        <div class="tab-pane fade" id="pills-s-lecturers" role="tabpanel" aria-labelledby="pills-s-lecturers-tab">
            {%- comment -%}
            Senior Lecturers Tab
            {%- endcomment -%}
            {% include staff_academic_cards.html filter_var="group" if_equal_to_this="senior_lecturer" %}

        </div>

        <div class="tab-pane fade" id="pills-lecturers" role="tabpanel" aria-labelledby="pills-lecturers-tab">
            {%- comment -%}
            Lecturers tab
            {%- endcomment -%}
            {% include staff_academic_cards.html filter_var="group" if_equal_to_this="lecturer" %}
            
        </div>
    </div>
</div>