{%- if include.badge_details.show == "true" -%}
<img class="badge-image" src="{{ include.badge_details.image | relative_url }}" data-bs-toggle-tooltip="tooltip" data-bs-placement="bottom" title="{{ include.badge_details.title }}"
alt="{{ include.badge_details.title }}" data-bs-toggle="modal" data-bs-target="#{{ badge.tag }}">

<!-- Modal -->
<div class="modal fade" id="{{ badge.tag }}" tabindex="-1" aria-labelledby="{{ include.badge_details.title }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ include.badge_details.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <div class="col-3 d-flex align-items-center">
                        <img class="img-fluid" src="{{ include.badge_details.image | relative_url }}"
                        alt="{{ include.badge_details.title }}">
                    </div>
                    <div class="col-9 d-flex align-items-center">{{ include.badge_details.description }}</div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="{{ include.badge_details.page | relative_url }}" type="button" class="btn btn-primary">See more</a>
            </div>
        </div>
    </div>
</div>
{%- endif -%}
