{%- comment -%}
This is the footer used in every page
{%- endcomment -%}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        {%- comment -%}
        copyright text
        {%- endcomment -%}
        <p class="col-md-6 mb-1 text-muted" style="font-size:80%;">&copy; COPYRIGHT {{site.time | date: "%Y" }} DEPARTMENT OF COMPUTER ENGINEERING, UOP<br>
            {%- comment -%}
            Last updated text
            {%- endcomment -%}
            Last Update : {{site.time | date: "%d/%m/%Y" }}
        </p>
        <p class="text-xl-left text-muted" style="font-size:80%;">

            {%- comment -%}
            <a href="{{ '/search/' | relative_url }}">Search</a> |
            {%- endcomment -%}

            {%- comment -%}
            Documentation link
            {%- endcomment -%}
            <a href="{{ '/documentation/' | relative_url }}">Documentation</a>


            {%- comment -%}
            Edit this page on github link
            {%- endcomment -%}
            {% if page.layout == "studentDetails" or page.layout == "staffDetails" or page.permalink contains "documentation" %}
            | <a href="https://github.com/cepdnaclk/people.ce.pdn.ac.lk/tree/main/{{page.path}}" rel="noreferrer" target="_blank">
                <i class="fab fa-github"></i> Edit this page on GitHub</a>
            {% endif %}

            {% if page.type == "Academic Support" %}
            | <a href="https://github.com/cepdnaclk/people.ce.pdn.ac.lk/tree/main/_data/academic-support-staff.json" rel="noreferrer" target="_blank">
                <i class="fab fa-github"></i> Edit this page on GitHub</a>
            {% endif %}

            {% if page.type == "Temporary Academic" %}
            | <a href="https://github.com/cepdnaclk/people.ce.pdn.ac.lk/tree/main/_data/temporary-academic-staff.json" rel="noreferrer" target="_blank">
                <i class="fab fa-github"></i> Edit this page on GitHub</a>
            {% endif %}

            {% if page.type == "Past Heads of Dept" %}
            <a href="https://github.com/cepdnaclk/people.ce.pdn.ac.lk/tree/main/_data/past-heads-of-dep.json" rel="noreferrer" target="_blank">
                <i class="fab fa-github"></i> Edit this page on GitHub</a>
            {% endif %}

            {% if page.layout == 'postgraduateIndex' or page.layout == 'postgraduateDetails' %}
            <a href="https://forms.gle/mpo2jarU7b9eWz9F7" rel="noreferrer" target="_blank">
                | Update via Google Form</a>
            {% endif %}

            {%- comment -%}
            Google form links to update page
            {%- endcomment -%}
            {% if page.layout == "studentDetails" %}
            | <a href="{{ '/form/unified' | relative_url }}" rel="noreferrer" target="_blank">
                Update via Google Form </a>
            {% endif %}
            {% if page.layout == "studentList_no_prof_link" %}
            | <a href="{{ '/form/unified' | relative_url }}" rel="noreferrer" target="_blank">
                Update via Google Form </a>
            {% endif %}
        </p>
    </footer>
</div>

{%- if page.layout=="documentation" -%}
{%- comment -%}
Add the syntax highlighter for the documentation pages
{%- endcomment -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

{%- comment -%}
PhotoSwipe 5.0 beta, only used in documentation
{%- endcomment -%}
<script type="module">
    // Include Lightbox
    import PhotoSwipeLightbox from "{{'assets / js / photoswipe - lightbox.esm.js' | remove:" " | relative_url}}";

    const lightbox = new PhotoSwipeLightbox({
        // may select multiple "galleries"
        gallery: '#gallery--simple',

        // Elements within gallery (slides)
        children: 'a',

        // Include PhotoSwipe Core
        // and use absolute path (that starts with http(s)://)
        pswpModule: "{{'assets/js/photoswipe.esm.js' | remove:" " | relative_url}}"
    });
    lightbox.init();
</script>
{%- endif -%}