
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="./" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4"><img src="{{ '/assets/img/header-logo.png' | relative_url }}" alt=""></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% link pages/home.html %}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                aria-expanded="false">Staff</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>Academic Staff</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>Past Heads of the Department</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>Temporary Academic staff</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>Academic Support Staff</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                aria-expanded="false">Students</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="./e18batch.html"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>E18 Batch</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>E17 Batch</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>E16 Batch</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#"><span
                        class="d-inline-block bg-primary rounded-circle"
                        style="width: .5em; height: .5em;"></span>E15 Batch</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Alumni</a></li>
            <li class="nav-item"><a href="https://aces.ce.pdn.ac.lk/" class="nav-link">ACES</a></li>
        </ul>
    </header>
</div>
