{%- comment -%}
Navbar used in every page.
Contains the logo, home staff students alumni links
{%- endcomment -%}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        {%- comment -%}
        logo
        {%- endcomment -%}
        <a href="{% link pages/home.html %}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4"><img src="{{ '/assets/img/header-logo.png' | relative_url }}" alt=""></span>
        </a>

        <ul class="nav nav-pills">
            {%- comment -%}
            Home
            {%- endcomment -%}
            <li class="nav-item"><a href="{% link pages/home.html %}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                    aria-expanded="false">Staff</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                            href="{% link pages/staff/academic.html %}"><span
                                class="d-inline-block bg-primary rounded-circle"
                                style="width: .5em; height: .5em;"></span>Academic Staff</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                            href="{% link pages/staff/past-heads-of-dep.html %}"><span
                                class="d-inline-block bg-primary rounded-circle"
                                style="width: .5em; height: .5em;"></span>Past Heads of the Department</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                            href="{% link pages/staff/temporary-academic.html %}"><span
                                class="d-inline-block bg-primary rounded-circle"
                                style="width: .5em; height: .5em;"></span>Temporary Academic staff</a>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                            href="{% link pages/staff/academic-support.html %}"><span
                                class="d-inline-block bg-primary rounded-circle"
                                style="width: .5em; height: .5em;"></span>Academic Support Staff</a>
                    </li>
                </ul>
            </li>

            {%- comment -%}
            students
            {%- endcomment -%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                    aria-expanded="false">Students</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                    {%- for batch in site.data.students -%}
                    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                            href="{{ batch.url | relative_url }}"><span class="d-inline-block bg-primary rounded-circle"
                                style="width: .5em; height: .5em;"></span>{{ batch.title }}</a>
                    </li>
                    {%- endfor -%}
                </ul>
            </li>

            {%- comment -%}
            Alumni
            {%- endcomment -%}
            <li class="nav-item"><a href="{% link pages/alumni.html %}" class="nav-link">Alumni</a></li>
            
            {%- comment -%}
            <li class="nav-item"><a href="{{ '/search/' | relative_url }}" class="nav-link">Search</a></li>
            <li class="nav-item"><a href="{{ '/documentation/' | relative_url }}" class="nav-link">Documentation</a>
                {%- endcomment -%}
            </li>
            <!-- <li class="nav-item"><a href="{{ '/about/' | relative_url }}" class="nav-link">About</a></li> -->
        </ul>
    </header>
</div>