{%- comment -%}
Used to create the cards in the postgraduate index page

inputs:
image_url
name_with_initials
reg_no
permalink
{%- endcomment -%}
<div class="card text-center p-2 m-1 border-primary" style="width: 11rem;">
    <!-- card image -->
    {% if include.image_url %}
    <img src="{{ item.image_url | relative_url }}" style="border-radius: 7%; height:158px;object-fit: cover;" class="card-img-top p-1" alt="{{include.name_with_initials}}">
    {% else %}
    <img src="{{ 'images/students/default.jpg' | relative_url }}" style="border-radius: 7%" class="card-img-top p-1" alt="{{include.name_with_initials}}">
    {% endif %}
    <!-- card name -->
    <div class="card-body d-flex flex-column">
        <h6 class="card-title">
            {{include.name_with_initials}}
        </h6>
        <!-- card reg number -->
        <!-- Hide the reg number, if it is selected as "Provisional" -->
        {% if include.reg_no != 'Provisional' %}
        <p class="card-text">{{item.reg_no}}</p>
        {% endif %}
        <!-- card button -->
        <div class="d-flex flex-row justify-content-center mt-auto">
            <a class="btn btn-outline-primary w-100" href="{{ include.permalink | relative_url }}">View</a>
        </div>
    </div>
</div>