<div class="card my-1 p-0 img-hover-zoom-card">
  <div class="row g-0">
    <div class="col-md-2 col-sm-3 d-flex align-items-center">
      <div class="img-hover-zoom">
        <img
          class="card-img-top app-thumb-img img-fluid"
          src="{{ include.thumb }}"
          alt="{{ include.title }}"
        />
      </div>
    </div>
    <div class="col-md-10 col-sm-9">
      <div class="card-body">
        <div class="card-text d-flex justify-content-between pt-1">
          <h6 class="">{{ include.title }}</h6>
          <a href="{{ include.url }}" target="_blank"
            ><button
              type="button"
              class="btn btn-outline-primary btn-sm ms-auto"
            >
              View
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
