<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-9">
        <form class="card card-sm text-center">
            <div class="card-body row no-gutters align-items-center">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text text-primary border-primary" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                        <input class="form-control border-primary" type="search" placeholder="Search people.ce.pdn.ac.lk {{include.search_by_text}}" id="search-input" autofocus>
                        <!-- advance dropdown -->
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Advanced</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/search/by-name">by Name</a></li>
                            <li><a class="dropdown-item" href="/search/by-reg-no">by Registration Number</a></li>
                            <li><a class="dropdown-item" href="/search/by-contact-number">by Contact Number</a></li>
                            <li><a class="dropdown-item" href="/search/by-current-affiliation">by Current Affiliation</a></li>
                            <li><a class="dropdown-item" href="/search/by-location">by Location</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/search/by-interests">by Interests (Students)</a></li>
                            <li><a class="dropdown-item" href="/search/by-research-interests">by Research Interest (Staff)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
