{%- comment -%}
Only used in pages/staff/academic_staff/index.html to generate the cards in respective tabs
{%- endcomment -%}


{% assign profilePages = site.pages | where: "layout", "staffDetails" | where: "on_duty", true%}
{% assign folder1 = profilePages | where: {{include.filter_var}}, {{include.if_equal_to_this}} %}
{% for item in folder1 %}
{%- comment -%}
Only lecturers on duty rendered in the site. However kept date on others for API records
{%- endcomment -%}
<div class="container card text-center p-2 border-primary m-1" style="width: 13rem;">
    <img src="{{ item.url_image | relative_url }}" style="border-radius: 7%" class="card-img-top p-1"
        alt="{{item.student_name}}">
    <div class="card-body d-flex flex-column">
        <h6 class="card-title">{{item.name_below_image}}</h6>
        <p class="card-text text-muted">{{item.text_below_name}}</p>
        <div class="d-flex flex-row justify-content-center mt-auto">
            <a class="btn btn-outline-primary w-100" href="{{ item.permalink | relative_url }}">View</a>
        </div>
    </div>
</div>
{% endfor %}