{%- assign publications = site.data.staff_publications[include.email] -%}
{%- assign pub_count = publications['publication_count'] -%}
{%- assign year_count = publications['year_count'] -%}
{%- assign year = 0 -%}

<div class="tab-pane fade p-4" id="research-tab" role="tabpanel" aria-labelledby="research">
    <h5>Research Interests:</h5>
    <ul>
        {%- for item in page.research_interests -%}
        <li>{{item}}</li>
        {%- endfor -%}
    </ul>

    <!-- Publications -->
    {% if pub_count > 0 %}
    <h5 class="pt-3">Publications:</h5>
    <div class="row">
        <div class="accordion accordion-flush" id="accordionPublications">
            {%- for years in publications['publications'] -%}
            {%- assign year = year | plus:1 -%}

            <!-- This will show the first 3 years expanded and remainings collapsed by default -->
            {%- if year <=3 -%} {%- assign expanded="show" -%} {%- else -%} {%- assign expanded="" -%} {%- endif -%}
                <div class="accordion-item">
                <h5 class="accordion-header" id="pub-header-{{ years[0] }}">
                    <button class="accordion-button collapsed btn-sm" style="padding: 6px 16px" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse-{{ years[0] }}"
                        aria-expanded="{{ expanded }}" aria-controls="collapse-{{ years[0] }}">
                        {{ years[0] }}
                    </button>
                </h5>
                <div id="collapse-{{ years[0] }}" class="accordion-collapse collapse {{ expanded }}"
                    aria-labelledby="pub-header-{{ years[0] }}">
                    <div class="accordion-body">
                        <ul>
                            {%- for p in years[1] -%}
                            <li>
                                {%- include publicationCard.html data=p title=p.title -%}
                            </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                </div>
        </div>
        {%- endfor -%}
    </div>
</div>

<div class="row pt-4">
    <hr>
    <p class="text-muted small">
        Please note that here only contain the <i>'Publications'</i> affiliated with the
        <i>Department of Computer Engineering</i>, which were submitted to the site. To
        see the full publication profile, visit the
        {%- if page.url_researchgate -%}
        <span> <a href="{{ page.url_researchgate }}" target="_blank">ResearchGate</a>
        </span>
        {%- else -%}
        <span> ResearchGate </span>
        {%- endif -%} or
        {%- if page.url_google_scholar -%}
        <span> <a href="{{ page.url_google_scholar }}" target="_blank">Google
                Scholar</a> </span>
        {%- else -%}
        <span> Google Scholar </span>
        {%- endif -%}
        profile.
    </p>
</div>
{%- endif -%}
</div>