---
layout: default
---

<main class="container">
  <div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">Search {{page.search_by}}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.home }}" class="link-light">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ '/' | relative_url }}" class="link-light">People</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ '/search/' | relative_url }}" class="link-light">Advanced Search</a>
        </li>
        <li class="breadcrumb-item text-white">Search {{page.search_by}}</li>
      </ol>
    </nav>
  </div>
</main>

<div class="container" style="min-height: 500px">
  <br />
  <!-- search box -->
  {% include search-box.html search_by_text=page.search_by%}
</div>
