---
layout: default
---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">{{page.title}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item text-white"><a href="{{ '/badges/' | relative_url }}" class="link-light">Badges</a></li>
                <li class="breadcrumb-item text-white">{{page.title}}</li>
            </ol>
        </nav>
    </div>
</main>

<!-- cards -->
<div class="container py-4 px-lg-5">
    <div class="row pb-5">
        <div class="col-sm-3 d-flex justify-content-end">
            <img src="{{ page.badge_image | relative_url}}" alt="{{ page.title }}" class="img-fluid">
        </div>
        <div class="col-sm-9 d-flex align-items-center">
            {{ page.badge_description }}
        </div>

    </div>
    <hr>

    <div class="row justify-content-center pb-5">


        {% for item in page.students %}
        <div class="card text-center p-2 m-1 border-primary" style="width: 11rem;">
            <!-- card image -->
            {% if item.profile_image %}
            <img src="{{ item.profile_image | relative_url }}" style="border-radius: 7%; height:158px;object-fit: cover;" class="card-img-top p-1" alt="{{item.name}}">
            {% else %}
            <img src="{{ 'images/students/default.jpg' | relative_url }}" style="border-radius: 7%" class="card-img-top p-1" alt="{{item.name}}">
            {% endif %}
            <!-- card name -->
            <div class="card-body d-flex flex-column">
                <h6 class="card-title">
                    {{item.name}}
                </h6>
                <p class="card-text">{{item.position}}</p>
                <div class="d-flex flex-row justify-content-center mt-auto">
                    <a class="btn btn-outline-primary w-100" href="{{ item.profile_url | relative_url }}">View</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
