---
layout: default

---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Postgraduate Students</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">People</a></li>
                <li class="breadcrumb-item text-white">Students</li>
                <li class="breadcrumb-item text-white">Postgraduate</li>
            </ol>
        </nav>
    </div>
</main>

<!-- cards -->
<div class="row justify-content-center pt-2">
    <!-- PhD -->
    {% assign profilePages = site.pages | where: "layout", "postgraduateDetails" | where: "degree", "PhD" | sort: "index_in_card_list" | reverse%}
    {% if profilePages[0] %}
    <h3 class="text-center">PhD</h3>
    <hr>
    {% for item in profilePages %}
    {%- include postgraduateCard.html image_url=item.image_url name_with_initials=item.name_with_initials reg_no=item.reg_no permalink=item.permalink-%}
    {% endfor %}
    {% endif %}


    <!-- MPhil -->
    {% assign profilePages = site.pages | where: "layout", "postgraduateDetails" | where: "degree", "MPhil" | sort: "index_in_card_list" | reverse%}
    {% if profilePages[0] %}
    <h3 class="text-center pt-2">MPhil</h3>
    <hr>
    {% for item in profilePages %}
    {%- include postgraduateCard.html image_url=item.image_url name_with_initials=item.name_with_initials reg_no=item.reg_no permalink=item.permalink-%}
    {% endfor %}
    {% endif %}

    <!-- MEng -->
    {% assign profilePages = site.pages | where: "layout", "postgraduateDetails" | where: "degree", "MEng" | sort: "index_in_card_list" | reverse%}
    {% if profilePages[0] %}
    <h3 class="text-center pt-2">MEng</h3>
    <hr>
    {% for item in profilePages %}
    {%- include postgraduateCard.html image_url=item.image_url name_with_initials=item.name_with_initials reg_no=item.reg_no permalink=item.permalink-%}
    {% endfor %}
    {% endif %}

    <!-- MSc -->
    {% assign profilePages = site.pages | where: "layout", "postgraduateDetails" | where: "degree", "MSc" | sort: "index_in_card_list" | reverse %}
    {% if profilePages[0] %}
    <h3 class="text-center pt-2">MSc</h3>
    <hr>
    {% for item in profilePages %}
    {%- include postgraduateCard.html image_url=item.image_url name_with_initials=item.name_with_initials reg_no=item.reg_no permalink=item.permalink-%}
    {% endfor %}
    {% endif %}

    <!-- Provisional -->
    {% assign profilePages = site.pages | where: "layout", "postgraduateDetails" | where: "degree", "Provisional" | sort: "index_in_card_list" | reverse%}
    {% if profilePages[0] %}
    <h3 class="text-center pt-2">Provisional</h3>
    <hr>
    {% for item in profilePages %}
    {%- include postgraduateCard.html image_url=item.image_url name_with_initials=item.name_with_initials reg_no=item.reg_no permalink=item.permalink-%}
    {% endfor %}
    {% endif %}
</div>

</div>