---
layout: default

---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Postgraduate Students</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">People</a></li>
                <li class="breadcrumb-item text-white">Students</li>
                <li class="breadcrumb-item text-white">Postgraduate</li>
            </ol>
        </nav>
    </div>
</main>

<!-- cards -->
<div class="row justify-content-center pt-2">
    <!-- PhD -->
    {%- include postgraduateCard.html degree="PhD"-%}

    <!-- MPhil -->
    {%- include postgraduateCard.html degree="MPhil"-%}

    <!-- MEng -->
    {%- include postgraduateCard.html degree="MEng"-%}

    <!-- MSc -->
    {%- include postgraduateCard.html degree="MSc"-%}

    <!-- Provisional -->
    {%- include postgraduateCard.html degree="Provisional"-%}

</div>

</div>