---
layout: default
---
{%- comment -%}

Layout used to generate a single staff profile page

sample frontmatter,
---
layout: staffDetails
permalink: /staff/academic/asitha-bandaranayake/
title: Dr. Asitha Bandaranayake

name_below_image: Dr. Asitha Bandaranayake
email: asithab@eng.pdn.ac.lk
contact_number: #
location: #

text_below_name: Senior Lecturer

url_image: images/staff/academic-staff/asitha-bandaranayake.jpg
url_website: #
url_google_scholar: https://scholar.google.com/citations?hl=en&user=sf6MaF4AAAAJ
url_researchgate: https://www.researchgate.net/profile/Asitha-Bandaranayake-3
url_linkedin: https://www.linkedin.com/in/asithab/
url_orcid: https://orcid.org/0000-0002-9737-1574

designation: Senior Lecturer
is_hod: false
on_duty: true

research_interests: [ 'Computer Networking', 'Wireless Networking', 'IoT', 'Artificial Intelligence', 'Bioinformatics' ]

---

{%- endcomment -%}


{%- comment -%}
breadcrumbs
{%- endcomment -%}
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">{{page.name_below_image}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                {% if page.on_duty %}
                <li class="breadcrumb-item"><a href="{{ '/staff/academic/' | relative_url }}" class="link-light">Academic Staff</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{{ '/staff/academic/past/' | relative_url }}" class="link-light">Past
                    Academic Staff</a>
                </li>
                {% endif %}

                <!-- <li class="breadcrumb-item"><a href="{{ '/staff/academic/' | relative_url }}"
                class="link-light">Academic Staff</a></li> -->
                <!-- <li class="breadcrumb-item"><span class="link-light">Academic Staff</span></li> -->

                {% if page.designation=="Professor" %}
                <li class="breadcrumb-item"><span class="link-light">Professors</span></li>
                {% else if page.designation == "Senior Lecturer" %}
                <li class="breadcrumb-item"><span class="link-light">Senior Lecturers</span></li>
                {% else if page.designation == "Lecturer" %}
                <li class="breadcrumb-item"><span class="link-light">Lecturers</span></li>
                {% endif %}

                <li class="breadcrumb-item text-white">{{page.name_below_image}}</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container pt-2">
    <div class="row gutters-sm ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {%- comment -%}
                        Image
                        {%- endcomment -%}
                        <img src="{{ page.url_image | relative_url}}" alt="Admin" class="img-fluid p-2" style="border-radius: 10%" width="">
                        <div class="mt-2">
                            <h4>{{page.name_below_image}}</h4>
                            <p class="text-secondary mb-1" style="text-align: center;">{{page.text_below_name}}</p>
                            <!-- <p class="text-muted font-size-sm">{{page.location}}</p> -->
                            <!-- <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <!-- Number -->
                    {% if page.contact_number %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-phone"></i> Contact Number</h6>
                        <a href="tel:{{page.contact_number}}">{{page.contact_number}}</a>
                    </li>
                    {% endif %}

                    <!-- E-mail -->
                    {% if page.email %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-at"></i> E-mail</h6>
                        <a href="mailto:{{page.email}}">{{page.email}}</a>
                    </li>
                    {% endif %}

                    <!-- Location -->
                    {%- comment -%}
                    TODO: Locations changed recently, so will hide until new locations were updated here
                    {% if page.location %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-map-marker"></i> Location</h6>
                        <a>{{page.location}}</a>
                    </li>
                    {% endif %}
                    {%- endcomment -%}

                    <!-- Google Scholar -->
                    {% if page.url_google_scholar %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-google"></i> Google Scholar</h6>
                        <span class="text-secondary"> <a href="{{page.url_google_scholar}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Orcid -->
                    {% if page.url_orcid %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-orcid"></i> ORCID</h6>
                        <span class="text-secondary"> <a href="{{page.url_orcid}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Researchgate -->
                    {% if page.url_researchgate %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-researchgate"></i> ResearchGate</h6>
                        <span class="text-secondary"> <a href="{{page.url_researchgate}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Website -->
                    {% if page.url_website %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-globe"></i> Website</h6>
                        <span class="text-secondary"> <a href="{{page.url_website}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- LinkedIN -->
                    {% if page.url_linkedin %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-linkedin"></i> LinkedIn</h6>
                        <span class="text-secondary"> <a href="{{page.url_linkedin}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- AD scientific index -->
                    {% if page.url_ad_scientific_index %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <img src="{{ '/assets/img/science-index.jpg' | relative_url }}" width="16" height="16" class="img"> AD Scientific Index</h6>
                        <span class="text-secondary"> <a href="{{page.url_ad_scientific_index}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-0">
                <div class="card-body">
                    {%- assign projects = site.data.staff_projects[page.email] -%}
                    {%- assign project_count = projects | where: "category.code", "4yp" | size -%}

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-bio-tab" data-bs-toggle="tab" data-bs-target="#nav-bio" type="button" role="tab" aria-controls="nav-home" aria-selected="true">About</button>

                            <button class="nav-link" id="nav-research-tab" data-bs-toggle="tab" data-bs-target="#nav-research" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Research</button>

                            {% if project_count > 0 %}
                            <button class="nav-link" id="nav-projects-tab" data-bs-toggle="tab" data-bs-target="#nav-projects" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Supervision</button>
                            {%- endif -%}

                            <!-- <button class="nav-link disabled" id="nav-research-tab" data-bs-toggle="tab" data-bs-target="#nav-research" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Research Outputs</button> -->
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent" style="min-height: 50vh;">

                        <!-- Bio and basic information -->
                        <div class="tab-pane fade show active p-4" id="nav-bio" role="tabpanel" aria-labelledby="nav-home-tab">
                            {{content}}
                        </div>

                        <!-- Supervised projects -->
                        {% if project_count > 0 %}
                        {%- assign p_count = 0 -%}
                        <div class="tab-pane fade p-4" id="nav-projects" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <h5>Research projects supervised by {{ page.name_below_image }}:</h5>
                            <div class="row">
                                <!-- Only include the Final Year Research Projects -->
                                {%- for p in projects -%}

                                {% if p.category.code == "4yp" and p_count < 6 %}
                                {%- assign p_count = p_count | plus:1 -%}
                                {%- include projectCard.html title=p.title thumb=p.thumbnail_url url=p.project_url cat=p.category.title -%}
                                {%- endif -%}
                                {%- endfor -%}
                            </div>

                            {%- if p_count > 6 -%}
                            <div class="pt-3">
                                <a class="link" href="https://projects.ce.pdn.ac.lk/search/?query={{ page.email }}">See more projects</a>
                            </div>
                            {%- endif -%}

                            <div class="row pt-3">
                                <hr>
                                <p class="text-muted small">
                                    Please note that here only contain the <i>'Projects'</i> which were submitted to the
                                    <a href="https://projects.ce.pdn.ac.lk/4yp/" target="_blank">projects.ce.pdn.ac.lk</a> as <i>Final Year Research Projects</i>. The actual list of projects supervised by <i>{{ page.name_below_image }}</i> may be longer than this.
                                </p>
                            </div>
                        </div>
                        {%- endif -%}

                        <!-- Publication and Grants -->
                        <div class="tab-pane fade p-4" id="nav-research" role="tabpanel" aria-labelledby="nav-research-tab">
                            <h5>Research Interests:</h5>
                            <ul>
                                {%- for item in page.research_interests -%}
                                <li>{{item}}</li>
                                {%- endfor -%}
                            </ul>

                            <!-- Publications -->
                            {%- assign publications = site.data.staff_publications[page.email] -%}
                            {%- assign pub_count = publications | size -%}
                            {% if pub_count > 0 %}
                            <h5 class="pt-3">Publications:</h5>
                            <div class="row px-3">
                                <ul>
                                    {%- for p in publications -%}
                                    <li>
                                        {%- include publicationCard.html data=p title=p.title -%}
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                            <div class="row">
                                <hr>
                                <p class="text-muted small">
                                    Please note that here only contain the <i>'Publications'</i> affiliated with the <i>Department of Computer Engineering</i>, which were submitted to the site. To see the full publication profile, visit the
                                    {%- if page.url_researchgate -%}
                                    <span> <a href="{{ page.url_researchgate }}" target="_blank">ResearchGate</a> </span>
                                    {%- else -%}
                                    <span> ResearchGate </span>
                                    {%- endif -%} or
                                    {%- if page.url_google_scholar -%}
                                    <span> <a href="{{ page.url_google_scholar }}" target="_blank">Google Scholar</a> </span>
                                    {%- else -%}
                                    <span> Google Scholar </span>
                                    {%- endif -%}
                                    profile.
                                </p>
                            </div>
                            {%- endif -%}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    p {
        text-align: justify;
    }
</style>
