---
layout: default
---
{%- comment -%}

sample frontmatter,
---
layout: staffDetails
permalink: /staff/academic/

name_below_image: Dr. Eng. Kamalanath Samarakoon
contact_number: +94 71 227 7994
email: kamalanath@eng.pdn.ac.lk
location: Computer Engineering, G-06

text_below_name: HoD - Senior Lecturer Gr I

url_image: #
url_website: #
url_google_scholar: #
url_researchgate: #
url_linkedin: #

group: professors
is_hod: true

research_interests: [  ]
---

<ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">2015-2020</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">2010-2015</button>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        .tab1..</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">.tab2..
    </div>
</div>
{%- endcomment -%}

<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        {%- comment -%}
        TODO: instead of writing the name here, what else can we print ? same name is written times in a small space
        {%- endcomment -%}
        <h1 class="text-white">{{page.name_below_image}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><span class="link-light">Academic Staff</span></li>

                {% if page.designation=="Professor" %}
                <li class="breadcrumb-item"><a href="{{ '/staff/academic/professors/' | relative_url }}" class="link-light">Professors</a></li>
                {% else if page.designation == "Senior Lecturer" %}
                <li class="breadcrumb-item"><a href="{{ '/staff/academic/senior_lecturers/' | relative_url }}" class="link-light">Senior Lecturers</a></li>
                {% else if page.designation == "Lecturer" %}
                <li class="breadcrumb-item"><a href="{{ '/staff/academic/lecturers/' | relative_url }}" class="link-light">Lecturers</a></li>
                {% endif %}

                <li class="breadcrumb-item text-white">{{page.name_below_image}}</li>
            </ol>
        </nav>
    </div>
</main>

<div class="container pt-2">
    <div class="row gutters-sm ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ page.url_image | relative_url}}" alt="Admin" class="img-fluid p-2"
                            style="border-radius: 10%" width="">
                        <div class="mt-2">
                            <h4>{{page.name_below_image}}</h4>
                            <p class="text-secondary mb-1" style="text-align: center;">{{page.text_below_name}}</p>
                            <!-- <p class="text-muted font-size-sm">{{page.location}}</p> -->
                            <!-- <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <!-- Number -->
                    {% if page.contact_number %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-phone"></i> Contact Number</h6>
                        <a href="tel:{{page.contact_number}}">{{page.contact_number}}</a>
                    </li>
                    {% endif %}

                    <!-- E-mail -->
                    {% if page.email %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-at"></i> E-mail</h6>
                        <a href="mailto:{{page.email}}">{{page.email}}</a>
                    </li>
                    {% endif %}

                    <!-- Location -->
                    {%- comment -%}
                    TODO: Locations changed recently, so will hide until new locations were updated here
                    {% if page.location %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-map-marker"></i> Location</h6>
                        <a>{{page.location}}</a>
                    </li>
                    {% endif %}
                    {%- endcomment -%}

                    <!-- Google Scholar -->
                    {% if page.url_google_scholar %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-google"></i> Google Scholar</h6>
                        <span class="text-secondary"> <a href="{{page.url_google_scholar}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Orcid -->
                    {% if page.url_orcid %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-orcid"></i> Orcid</h6>
                        <span class="text-secondary"> <a href="{{page.url_orcid}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Researchgate -->
                    {% if page.url_researchgate %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-researchgate"></i> Researchgate</h6>
                        <span class="text-secondary"> <a href="{{page.url_researchgate}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Website -->
                    {% if page.url_website %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-globe"></i> Website</h6>
                        <span class="text-secondary"> <a href="{{page.url_website}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- LinkedIN -->
                    {% if page.url_linkedin %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-linkedin"></i> LinkedIn</h6>
                        <span class="text-secondary"> <a href="{{page.url_linkedin}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}



                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <style>
                        p {
                            text-align: justify;
                        }
                    </style>
                    {{content}}
                </div>
            </div>
        </div>


    </div>
</div>
