---
layout: default
---

<main class="container">
  <div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">{{page.name_below_image}}</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.home }}" class="link-light">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{{ '/' | relative_url }}" class="link-light">People</a>
        </li>
        {% if page.on_duty %}
        <li class="breadcrumb-item">
          <<<<<<< HEAD
          <a href="{{ '/staff/academic/' | relative_url }}" class="link-light">Academic Staff</a>
        </li>
        {% else %}
        <li class="breadcrumb-item">
          <a href="{{ '/staff/academic/past/' | relative_url }}" class="link-light">
            Past Academic Staff
          </a>
          =======
          <a href="{{ '/staff/academic/' | relative_url }}" class="link-light">Academic Staff</a>
        </li>
        {% else %}
        <li class="breadcrumb-item">
          <a href="{{ '/staff/academic/past/' | relative_url }}" class="link-light">
            Past Academic Staff
          </a>
          >>>>>>> origin/main
        </li>
        {% endif %} {% if page.designation=="Professor" %}
        <li class="breadcrumb-item">
          <span class="link-light">Professors</span>
        </li>
        {% elsif page.designation == "Senior Lecturer" %}
        <li class="breadcrumb-item">
          <<<<<<< HEAD
          <span class="link-light">Senior Lecturers</span>
        </li>
        {% elsif page.designation == "Lecturer" %}
        <li class="breadcrumb-item">
          <span class="link-light">Lecturers</span>
          =======
          <span class="link-light">Senior Lecturers</span>
        </li>
        {% elsif page.designation == "Lecturer" %}
        <li class="breadcrumb-item">
          <span class="link-light">Lecturers</span>
          >>>>>>> origin/main
        </li>
        {% endif %}

        <li class="breadcrumb-item text-white">{{page.name_below_image}}</li>
      </ol>
    </nav>
  </div>
</main>

<div class="container pt-2">
  <div class="row gutters-sm">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="{{ page.url_image | relative_url}}"
              alt="Admin"
              class="img-fluid p-2"
              style="border-radius: 10%"
              width=""
            />
            <div class="mt-2">
              <h4>{{page.name_below_image}}</h4>
              <<<<<<< HEAD
              <p class="text-secondary mb-1" style="text-align: center">{{page.text_below_name}}</p>
              =======
              <p class="text-secondary mb-1" style="text-align: center">{{page.text_below_name}}</p>
              >>>>>>> origin/main
              <!-- <p class="text-muted font-size-sm">{{page.location}}</p> -->
            </div>
          </div>

          <ul class="list-group list-group-flush border-top mt-2">
            <!-- Contact Number -->
            {% if page.contact_number %} <<<<<<< HEAD
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-phone"></i>
                Contact Number
              </h6>
              =======
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-phone"></i>
                Contact Number
              </h6>
              >>>>>>> origin/main
              <a href="tel:{{page.contact_number}}">{{page.contact_number}}</a>
            </li>
            {% endif %}

            <!-- E-mail -->
            {% if page.email %} <<<<<<< HEAD
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-at"></i>
                E-mail
              </h6>
              =======
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-at"></i>
                E-mail
              </h6>
              >>>>>>> origin/main {% include email_reveal.html email=page.email %}
            </li>
            {% endif %}

            <!-- Location -->
            {%- comment -%} TODO: Locations changed recently, so will hide until new locations were
            updated here
            <!--  -->
            {% if page.location %}
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <i class="fas fa-map-marker"></i>
                Location
              </h6>
              <a>{{page.location}}</a>
            </li>
            {% endif %} {%- endcomment -%}

            <!-- AD scientific index -->
            {% if page.url_ad_scientific_index != '#' %}
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <img
                  src="{{ '/assets/img/science-index.jpg' | relative_url }}"
                  width="16"
                  height="16"
                  class="img"
                />
                AD Scientific Index
              </h6>
              <span class="text-secondary">
                <a href="{{page.url_ad_scientific_index}}" target="_blank">
                  <button type="button" class="btn btn-outline-primary btn-sm">View</button>
                </a>
              </span>
            </li>
            {% endif %}

            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <!-- Social Media and Profile Links -->
              <div class="container d-flex justify-content-evenly">
                <!--  -->
                {% if page.url_linkedin != '#' %}
                <a
                  class="btn btn-link"
                  href="{{ page.url_linkedin }}"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-placement="top"
                  title="Linkedin"
                >
                  <i style="color: #0e76a8" class="fab social-icon fa-2x fa-linkedin"></i>
                </a>
                {% endif %}
                <!--  -->
                {% if page.url_researchgate != '#'%}
                <a
                  class="btn btn-link"
                  href="{{ page.url_researchgate | relative_url}}"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-placement="top"
                  title="Researchgate"
                >
                  <i style="color: #0cb" class="fab social-icon fa-2x fa-researchgate"></i>
                </a>
                {% endif %}
                <!--  -->
                {% if page.url_google_scholar != '#' %}
                <a
                  class="btn btn-link"
                  href="{{ page.url_google_scholar | relative_url}}"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-placement="top"
                  title="Google Scholar"
                >
                  <i style="color: #3569c3" class="fab social-icon fa-2x fa-google"></i>
                </a>
                {% endif %}
                <!--  -->
                {% if page.url_website != '#' %}
                <a
                  class="btn btn-link"
                  href="{{ page.url_website | relative_url}}"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-placement="top"
                  title="Personal Website"
                >
                  <i style="color: #000" class="fa social-icon fa-2x fa-globe"></i>
                </a>
                {% endif %}
                <!--  -->
                {% if page.url_orcid != '#' %}
                <a
                  class="btn btn-link"
                  href="{{ page.url_orcid | relative_url}}"
                  target="_blank"
                  data-bs-toggle="tooltip"
                  data-bs-html="true"
                  data-bs-placement="top"
                  title="ORCID"
                >
                  <i style="color: #a6ce39" class="fab social-icon fa-2x fa-orcid"></i>
                </a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!-- Tab Controller -->
      <div class="card p-0">
        <div class="card-body">
          {%- assign projects = site.data.staff_projects[page.email] -%}
          <!--  -->
          {%- assign project_count = projects['count'] -%}
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button
                class="nav-link active"
                id="bio"
                data-bs-toggle="tab"
                data-bs-target="#bio-tab"
                type="button"
                role="tab"
                aria-controls="bio"
                aria-selected="true"
              >
                About
              </button>

              <button
                class="nav-link"
                id="research"
                data-bs-toggle="tab"
                data-bs-target="#research-tab"
                type="button"
                role="tab"
                aria-controls="research"
                aria-selected="false"
              >
                Research
              </button>

              {% if project_count > 0 %}
              <button
                class="nav-link"
                id="projects"
                data-bs-toggle="tab"
                data-bs-target="#projects-tab"
                type="button"
                role="tab"
                aria-controls="projects"
                aria-selected="false"
              >
                Supervision
              </button>
              {%- endif -%}
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent" style="min-height: 50vh">
            <!-- Bio and basic information -->
            <div
              class="tab-pane fade active show p-4"
              id="bio-tab"
              role="tabpanel"
              aria-labelledby="bio"
            >
              {{content}}
            </div>

            <!-- Supervised projects -->
            {%- include tab_staff_research.html email=page.email -%}

            <!-- Publication and Grants -->
            {%- include tab_staff_publications.html email=page.email -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    text-align: justify;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
    // Switch to the right tab, absed on the location hash
    const locHash = window.location.hash;
    if (locHash != "") {
      var tabTrigger = new bootstrap.Tab($(locHash)).show();
    }

    // Update the URL hash with tab selection
    var tabsList = document.querySelectorAll('button[data-bs-toggle="tab"]');
    tabsList.forEach((triggerEl) => {
      triggerEl.addEventListener("shown.bs.tab", function (event) {
        const tabID = event.target.getAttribute("id");
        console.log(tabID);
        event.preventDefault();
        window.location.hash = tabID;
      });
    });
  });
</script>
