---
layout: default
---

{%- comment -%}
This layout is for creating the single page containing the details of each student


sample frontmatter,
---
layout: studentDetails
permalink: "/students/e18/098/"

reg_no: E/18/098
batch: E18

full_name: Kurukulasuriya Anton Ishan Fernando
name_with_initials: K.A.I. Fernando
preferred_short_name: Ishan
preferred_long_name: Ishan Fernando
honorific: Mr.

email_faculty: e18098@eng.pdn.ac.lk
email_personal: #

location: Negombo

url_cv: #
url_website: #
url_linkedin: #
url_github: https://github.com/ishanfdo18098
url_facebook: https://facebook.com/ishanfdo
url_researchgate: #
url_twitter: #

interests: #
projects_done: []
image_url: "images/students/e18/e18098.jpg"
---

NOTES:
1) if url = # it will show N/A, for everything else it will show the View button
2) Social Media links, location are optional

{%- endcomment -%}



<!-- Current path START-->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <!-- <h1 class="text-white">Student Details</h1> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="../../.." class="link-light">Students</a></li>
                <li class="breadcrumb-item"><a href="../" class="link-light">{{page.batch | capitalize}} Batch</a></li>
                <li class="breadcrumb-item text-white">
                    {%- if page.preferred_long_name -%}
                    {{page.preferred_long_name}}
                    {%- else if page.preferred_short_name -%}
                    {{page.preferred_short_name}}
                    {%- else if page.name_with_initials -%}
                    {{page.name_with_initials}}
                    {%- else -%}
                    {{page.reg_no}}
                    {%- endif -%}
                </li>
            </ol>
        </nav>
    </div>
</main>
<!-- Current path END-->


<div class="container pt-4">
    <div class="row gutters-sm ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {% if page.image_url %}
                        <img src="{{ page.image_url | relative_url}}" alt="Admin" style="border-radius: 10%"
                            width="175">
                        {% else %}
                        <img src="{{ 'images/students/default.jpg' | relative_url}}" alt="Admin"
                            style="border-radius: 10%" width="175">
                        {% endif %}

                        <div class="mt-2">
                            {%- comment -%}
                            In case a student didn't fill all the name parameters,
                            {%- endcomment -%}
                            <h4>
                                {%- if page.preferred_short_name -%}
                                {{page.preferred_short_name}}
                                {%- else if page.preferred_long_name -%}
                                {{page.preferred_long_name}}
                                {%- else if page.name_with_initials -%}
                                {{page.name_with_initials}}
                                {%- endif -%}
                            </h4>
                            <!-- <p class="text-secondary mb-1">{{page.text_below_name}}</p>
                            <p class="text-muted font-size-sm">{{page.location}}</p> -->
                            <!-- <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <!-- CV -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-address-card"></i> CV</h6>
                        {% if page.url_cv %}
                        <span class="text-secondary"> <a href="{{page.url_cv}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Website -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-globe"></i> Website</h6>
                        {% if page.url_website %}
                        <span class="text-secondary"> <a href="{{page.url_website}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- LinkedIn -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-linkedin"></i> LinkedIn</h6>
                        {% if page.url_linkedin %}
                        <span class="text-secondary"> <a href="{{page.url_linkedin}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- GitHub -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-github"></i> Github</h6>
                        {% if page.url_github %}
                        <span class="text-secondary"> <a href="{{page.url_github}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Facebook -->
                    {% if page.url_facebook %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-facebook"></i> Facebook</h6>
                        <span class="text-secondary"> <a href="{{page.url_facebook}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Twitter -->
                    {% if page.url_twitter %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-twitter"></i> Twitter</h6>
                        <span class="text-secondary"> <a href="{{page.url_twitter}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- ResearchGate -->
                    {% if page.url_researchgate %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-researchgate"></i> ResearchGate</h6>
                        <span class="text-secondary"> <a href="{{page.url_researchgate}}" target="_blank"><button
                                    type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    {% if page.full_name %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Full Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.full_name}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    {% if page.preferred_long_name %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Preferred Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.preferred_long_name}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Registration Number</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.reg_no}}
                        </div>
                    </div>
                    <hr>

                    <!-- department -->
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Department</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.department}}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Email</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {%- if page.email_personal -%}<a
                                href="mailto:{{page.email_personal}}">{{page.email_personal}}</a><br>{%- endif -%}
                            {%- if page.email_faculty -%}<a
                                href="mailto:{{page.email_faculty}}">{{page.email_faculty}}</a>{%- endif -%}
                        </div>
                    </div>

                    {% if page.location %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Location</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.location}}
                        </div>
                    </div>
                    {% endif %}

                    {% if page.interests %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Interests</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.interests}}
                        </div>
                    </div>
                    {% endif %}

                    {% if page.current_affiliation %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Current affiliation</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.current_affiliation}}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- <div class="row gutters-sm">
                <div class="col-sm-5 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Projects done</h6>

                            {% for eachProject in page.projects_done %}
                            <small>• {{eachProject}}</small>
                            <br>
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>