---
layout: default
---
{%- comment -%}
This layout is for creating the list of students in each batch

sameple frontmatter,

---START---
title_in_breadcrumb: E18 Batch
students_or_staff: Students
---END---


sample content,

{% assign folder1 = site.pages | where_exp: "item" , "item.path contains 'students/e18/students'"%}
{% for item in folder1 %}
<div class="card text-center p-2 " style="width: 11rem;">
    <img src="{{ item.image_url | relative_url }}" style="border-radius: 7%" class="card-img-top p-1"
        alt="{{item.student_name}}">
    <div class="card-body">
        <h6 class="card-title">{{item.name_with_initials}}</h6>
        <p class="card-text">{{item.reg_no}}</p>
        <a class="btn btn-outline-primary w-100" href="{{ item.permalink | relative_url }}">View</a>
    </div>
</div>
{% endfor %}


{%- endcomment -%}

<div class="bg-secondary p-3 pb-1 rounded">
    <h1 class="text-white">{{page.title_in_breadcrumb}}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active text-white" aria-current="page">Home / {{page.students_or_staff}} / {{page.title_in_breadcrumb}}</li>
        </ol>
    </nav>
</div>

<div class="container py-4 px-lg-5">
    <div class="row justify-content-center">

        {{content}}

    </div>
</div>

