---
layout: default
---

{%- comment -%}
This layout is for creating the single page containing the details of each student


sample frontmatter,
---START---
layout: studentDetails
permalink: "/students/e18/098/"

reg_no: E/18/098
batch: E18

full_name: Kurukulasuriya Anton Ishan Fernando
name_with_initials: K. A. I. Fernando
preferred_short_name: Ishan
preferred_long_name: Ishan Fernando
honorific: Ishan Fernando

email_faculty: e18098@eng.pdn.ac.lk
email_personal: personalMail@gmail.com

location: Negombo

url_cv: N/A
url_website: N/A
url_linkedin: N/A
url_github: https://github.com/ishanfdo18098
url_facebook: https://facebook.com/ishanfdo
url_researchgate: N/A
url_twitter: N/A

projects_done: N/A
image_url: "images/students/e18/e18098.jpg"
---END---

NOTES:
1) if url = N/A it will show N/A, for everything else it will show the View button

{%- endcomment -%}

<!-- Current path START-->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <!-- <h1 class="text-white">Student Details</h1> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active text-white" aria-current="page">Home / Students / {{page.batch | capitalize}} Batch / {{page.name_with_initials}}</li>
            </ol>
        </nav>
    </div>
</main>
<!-- Current path END-->


<div class="container pt-4">
    <div class="row gutters-sm ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ page.image_url | relative_url}}" alt="Admin" style="border-radius: 10%" width="175">
                        <div class="mt-2">
                            <h4>{{page.name_with_initials}}</h4>
                            <!-- <p class="text-secondary mb-1">{{page.text_below_name}}</p>
                            <p class="text-muted font-size-sm">{{page.location}}</p> -->
                            <!-- <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <!-- CV -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-address-card"></i> CV</h6>
                        {% if page.url_cv != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_cv}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Website -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-globe"></i> Website</h6>
                            {% if page.url_website != "N/A"%}
                            <span class="text-secondary"> <a href="{{page.url_website}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                            {% else %}
                            <span class="text-secondary"> N/A</span>
                            {% endif %}
                    </li>

                    <!-- LinkedIN -->

                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-linkedin"></i> LinkedIn</h6>
                        {% if page.url_linkedin != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_linkedin}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- GitHub -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-github"></i> Github</h6>
                        {% if page.url_github != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_github}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Facebook -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-facebook"></i> Facebook</h6>
                        {% if page.url_facebook != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_facebook}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- ResearchGate -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-researchgate"></i> ResearchGate</h6>
                        {% if page.url_researchgate != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_researchgate}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Twitter -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-twitter"></i> Twitter</h6>
                        {% if page.url_twitter != "N/A" %}
                        <span class="text-secondary"> <a href="{{page.url_twitter}}" target="_blank"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>


                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Full Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.full_name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Preferred Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.preferred_long_name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Registration Number</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.reg_no}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Email</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.email_faculty}}
                            <br>
                            {{page.email_personal}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Location</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.location}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row gutters-sm">
                <div class="col-sm-5 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h6 class="d-flex align-items-center mb-3">Projects done</h6>

                            {% for eachProject in page.projects_done %}
                            <small>• {{eachProject}}</small>
                            <br>
                            {% endfor %}
                        </div>

                        <div class="card-body">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
