---
layout: default
---

{%- comment -%}
This layout is for creating the single page containing the details of each student

sample frontmatter,
---
layout: studentDetails
permalink: "/students/e18/098/"
title: K.A.I. Fernando

reg_no: E/18/098
batch: E18

department: Computer Engineering
current_affiliation: Department of Computer Engineering, University of Peradeniya

full_name: Kurukulasuriya Anton Ishan Fernando
name_with_initials: K.A.I. Fernando
preferred_short_name: Ishan
preferred_long_name: Ishan Fernando
honorific: Mr.

email_faculty: e18098@eng.pdn.ac.lk
email_personal: #

location: Negombo

url_cv: #
url_website: #
url_linkedin: #
url_github: https://github.com/ishanfdo18098
url_facebook: https://facebook.com/ishanfdo
url_researchgate: #
url_twitter: #

interests: #

image_url: "images/students/e18/e18098.jpg"
---

NOTES:
1) if url = # it will show N/A, for everything else it will show the View button
2) Social Media links, location are optional
3) title can be automatically updated using github action (uses python_scripts/student_profile_page_titles.py)

{%- endcomment -%}



{%- comment -%}
breadcrumb
{%- endcomment -%}
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <!-- <h1 class="text-white">Student Details</h1> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item text-white">Students</li>
                <li class="breadcrumb-item"><a href="../" class="link-light">{{page.batch | upcase}} Batch</a></li>
                <li class="breadcrumb-item text-white">
                    {%- if page.preferred_long_name -%}
                    {{page.preferred_long_name}}
                    {%- else if page.preferred_short_name -%}
                    {{page.preferred_short_name}}
                    {%- else if page.name_with_initials -%}
                    {{page.name_with_initials}}
                    {%- else -%}
                    {{page.reg_no}}
                    {%- endif -%}
                </li>
            </ol>
        </nav>
    </div>
</main>



<div class="container pt-4">
    <div class="row gutters-sm ">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {%- comment -%}
                        Image
                        {%- endcomment -%}
                        {% if page.image_url %}
                        <img src="{{ page.image_url | relative_url}}" alt="image" style="border-radius: 10%" width="250">
                        {% else %}
                        <img src="{{ 'images/students/default.jpg' | relative_url}}" alt="image" style="border-radius: 10%" width="175">
                        {% endif %}

                        <div class="mt-2">
                            {%- comment -%}
                            In case a student didn't fill all the name parameters,
                            {%- endcomment -%}
                            <h4>
                                {%- if page.preferred_short_name -%}
                                {{page.preferred_short_name}}
                                {%- else if page.preferred_long_name -%}
                                {{page.preferred_long_name}}
                                {%- else if page.name_with_initials -%}
                                {{page.name_with_initials}}
                                {%- endif -%}
                            </h4>
                            <!-- <p class="text-secondary mb-1">{{page.text_below_name}}</p>
                            <p class="text-muted font-size-sm">{{page.location}}</p> -->
                            <!-- <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <!-- CV -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-address-card"></i> CV</h6>
                        {% if page.url_cv %}
                        <span class="text-secondary"> <a href="{{page.url_cv}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Website -->
                    {% if page.url_website %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fas fa-globe"></i> Website</h6>
                        {% if page.url_website %}
                        <span class="text-secondary"> <a href="{{page.url_website}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>
                    {% endif %}

                    <!-- LinkedIn -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-linkedin"></i> LinkedIn</h6>
                        {% if page.url_linkedin %}
                        <span class="text-secondary"> <a href="{{page.url_linkedin}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- GitHub -->
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-github"></i> Github</h6>
                        {% if page.url_github %}
                        <span class="text-secondary"> <a href="{{page.url_github}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                        {% else %}
                        <span class="text-secondary"> N/A</span>
                        {% endif %}
                    </li>

                    <!-- Facebook -->
                    {% if page.url_facebook %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-facebook"></i> Facebook</h6>
                        <span class="text-secondary"> <a href="{{page.url_facebook}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- Twitter -->
                    {% if page.url_twitter %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-twitter"></i> Twitter</h6>
                        <span class="text-secondary"> <a href="{{page.url_twitter}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}

                    <!-- ResearchGate -->
                    {% if page.url_researchgate %}
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"> <i class="fab fa-researchgate"></i> ResearchGate</h6>
                        <span class="text-secondary"> <a href="{{page.url_researchgate}}" target="_blank"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <!-- full name -->
                    {% if page.full_name %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Full Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.full_name}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <!-- preferred long name -->
                    {% if page.preferred_long_name %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Preferred Name</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.preferred_long_name}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <!-- reg number -->
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Registration Number</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.reg_no}}
                        </div>
                    </div>
                    <hr>

                    <!-- department -->
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Department</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.department}}
                        </div>
                    </div>
                    <hr>

                    <!-- email -->
                    {% if page.email_faculty or page.email_personal %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Email</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {%- if page.email_faculty -%}{{page.email_faculty}}<br>{%- endif -%}
                            {%- if page.email_personal -%}{{page.email_personal}}{%- endif -%}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <!-- location -->
                    {% if page.location %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Location</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.location}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <!-- interests -->
                    {% if page.interests and page.interests != "" %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Interests</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.interests}}
                        </div>
                    </div>
                    <hr>
                    {% endif %}

                    <!-- current affiliation -->
                    {% if page.current_affiliation %}
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="mb-0" style="font-weight: 500">Current Affiliation</span>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{page.current_affiliation}}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Badges -->
            {%- assign badges = site.data.badges.members[page.reg_no] -%}
            {%- assign badge_count = 0 -%}
            <!-- count the numbere of visible badges -->
            {% for badge in badges %}
            {%- assign badge_details = site.data.badges.badges[badge.tag] -%}
            {%- if badge_details.show == "true" -%}
            {%- assign badge_count = badge_count | plus:1 -%}
            {%- endif -%}
            {% endfor %}

            {% if badge_count > 0 %}
            <div class="card mt-3">
                <div class="card-header" style="font-weight: 500">
                    Badges
                    <sup><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="Badges are offered by the department based on the student activities and performance"></i></sup>
                </div>
                <div class="card-body mx-2 d-flex flex-row">

                    {% for badge in badges %}
                    {%- assign badge_details = site.data.badges.badges[badge.tag] -%}

                    {%- if badge_details.show == "true" -%}
                    <img class="badge-image" src="{{ badge_details.image | relative_url }}" data-bs-toggle-tooltip="tooltip" data-bs-placement="bottom" title="{{ badge_details.title }}"
                    alt="{{ badge_details.title }}" data-bs-toggle="modal" data-bs-target="#{{ badge.tag }}">

                    <!-- Modal -->
                    <div class="modal fade" id="{{ badge.tag }}" tabindex="-1" aria-labelledby="{{ badge_details.title }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ badge_details.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row ">
                                        <div class="col-3 d-flex align-items-center">
                                            <img class="img-fluid" src="{{ badge_details.image | relative_url }}"
                                            alt="{{ badge_details.title }}">
                                        </div>
                                        <div class="col-9 d-flex align-items-center">{{ badge_details.description }}</div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <a href="{{ badge_details.page | relative_url }}" type="button" class="btn btn-primary">See more...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
            {%- endif -%}



            <!-- Projects -->
            {%- assign projects = site.data.student_projects[page.reg_no] -%}
            {%- assign project_count = projects | size -%}
            {% if project_count > 0 %}
            <div class="card mt-3">
                <div class="card-header" style="font-weight: 500">
                    Projects
                    <sup><i class="fa fa-info-circle" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="Projects done by the student, which are listed in the projects.ce.pdn.ac.lk"></i></sup>
                </div>
                <div class="card-body mx-2">
                    <div class="row">
                        {%- for p in projects -%}
                        {%- include projectCard.html title=p.title thumb=p.thumbnail_url url=p.project_url cat=p.category.title -%}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            {%- endif -%}
            {{content}}
        </div>
    </div>
</div>
