name: Python Tests
on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  workflow_dispatch:

jobs:
  jekyll:
    name: Build and Test Jekyll
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        uses: jerryjvl/jekyll-build-action@v1

      - name: Serve the site
        run: |
          cd _site
          docker run -d -p 80:8080 --name jekyll_serve syntaqx/serve
          docker cp ./ jekyll_serve:/var/www

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install software
        run: sudo apt-get install -y chromium-browser

      - name: Install the necessary packages
        run: pip install requests webdriver-manager selenium chromedriver-autoinstaller

      - name: Run Server and Test
        run: |
          cd tests; 
          echo 'SERVER_URL = "http://localhost/"' > a_config_test.py
          python3 -m unittest discover -v -f
